<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymleaf-extras-springsecurity6">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Main Page</title>
</head>
<body>
	<span th:utext="'Welcome '+${username} +'!'"></span>
	
	<form action="/returnToBBS" method="POST">
		<input type="hidden" name="bbsUrl" readonly th:value="${bbsUrl}">
		<input type="hidden" name="token" readonly th:value="${#ctx.session.token}">
		<button class="w3-theme" name="action" value="next">Return to BBS</button>
	</form>
</body>
</html>